@import url('https://fonts.googleapis.com/css2?family=Kufam:wght@400;600&family=Rammetto+One&display=swap');


* {
    box-sizing: border-box;
    
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    padding: 0;
    font-family: 'Kufam', cursive;
    background-color: #fe7171;
    color: #000;
    height: 100vh;  
}
