.app-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: auto;
	margin: 0 auto;
}

.app-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 40px;
	font-weight: bold;
	background-color: #ffa36c;
	border: 5px solid #799351;
	box-shadow: 0 10px 30px #993333;
	border-radius: 25px;
	max-width: 730px;
	min-width: 400px;
	width: 90%;
}

.timers-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-bottom: 40px;
}

@media only screen and (max-width: 480px) {
	.app-wrapper {
		min-width: 300px;
	}

	.timers-wrapper {
		display: flex;
		flex-direction: column;
	}
}
